@import "../color.scss";
.products{
	background-color: rgba(255, 255, 255, .4);
	margin-bottom: 8px;
	border-bottom: 2px solid lighten($COLOR_6, 1);
	position: static;
	z-index: 1;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.descr{
	width: 100%;
	padding: 5px;
	padding-left: 35px;
}

img{
	width: 240px;
	height: 150px;
	max-width: 100%;
    /*display: block;*/
}

.goto{
	text-align: right;
    color: lighten($COLOR_1, 10%);
     font: italic bold 20px Georgia, serif;
}
.goto a:hover{
	color: darken($COLOR_6, 0.35);
}


.propName{
    color: darken($COLOR_6, 0.1);
     font: italic bold 30px Georgia, serif;
     text-align: center;
     margin-bottom: 10px;

   //   -webkit-box-sizing: content-box;
   // -moz-box-sizing: content-box;
   // box-sizing: content-box;
   // border: none;
   // font: normal 30px/normal "Black Ops One", Helvetica, sans-serif;
   // color: lighten(#00737E, 0%);
   // text-align: center;
   // -o-text-overflow: clip;
   // text-overflow: clip;
   // text-shadow: -1px -1px 1px rgb(255,255,255) , 1px 1px 1px rgb(0,0,0) ;

}

/*
p{
	text-indent: 15px;
	color: blue;
	line-height: 1.15;
}

.descr{
	width: 100%;
	padding: 30px;
	font: 15px monospace;
}

.products a{
	text-decoration: none;
	color: inherit;
}
.products a:hover{
	color: blue;
	text-decoration: underline;
}

.goto{
	text-align: right;
}*/
