@import '../color';

.products {
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid lighten($COLOR_6, 1);
  margin-bottom: 8px;
  position: static;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 150px;
  max-width: 100%;
  width: 240px;
}

.descr {
  width: 100%;
  padding: 5px;
  padding-left: 35px;

  font-family: 'Snell Roundhand Script' fantasy;
}

.propName {
  color: darken($COLOR_6, 0.1);
  font: italic bold 30px Georgia, serif;
  text-align: center;
  margin-bottom: 10px;
}

.goto {
  text-align: right;
  color: lighten($COLOR_1, 10%);
  font: italic bold 20px Georgia, serif;
}

.goto a:hover {
  color: darken($COLOR_6, 0.35);
}
