@import "../color.scss";
footer {
	position: relative;
	width: 100%;
	min-height: 100px;
	padding: 15px 0;
	text-align: center;
	background-color: $COLOR_1;
    // background-color: mix(yellow, blue)
}
footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}
footer ul li {
  display: inline-block;
  padding: 0 5px;
  /* transition: all 0.3s; */
}
footer ul li:hover{
	padding: 0 15px;
	transform: scale(1.2);
}

.social {
	/*margin: 0 50px;
	padding: 0 50px;*/
	display: inline-block;
	/*width: 40px;
	height: 40px;*/
}
.copyright{
	padding: 5px;

	color: $COLOR_5;
    -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal normal  30px/normal "Bad Script", Helvetica, sans-serif;
  // color: rgba(0, 0, 0, 0);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 0 0 rgb(217,31,38) , 6px 0 0 rgb(226,91,14) , 9px 0 0 rgb(245,221,8) , 12px 0 0 rgb(5,148,68) , 15px 0 0 rgb(2,135,206) , 18px 0 0 rgb(4,77,145) , 21px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.copyright:hover {
  text-shadow: -3px 0 0 rgb(217,31,38) , -6px 0 0 rgb(226,91,14) , -9px 0 0 rgb(245,221,8) , -12px 0 0 rgb(5,148,68) , -15px 0 0 rgb(2,135,206) , -18px 0 0 rgb(4,77,145) , -21px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
