@import '../common/components/color';

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  height: initial;
}

body {
  position: relative;
}

body {

}

a:hover {
  cursor: pointer;
}

.segmentcontent {
  font: italic 16px/2 'Trebuchet MS', Verdana, sans-serif;
  padding: 50px;
  /* background-color:  rgba(255, 255, 255, 0.1); */
  min-height: calc(100vh - 340px);

  color: black;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 20px,
    #ccc 10px,
    rgb(212, 17, 17) 20px),
    linear-gradient(
      to bottom,
      #eee,
      rgb(211, 35, 35));
  background-image: url('https://www.transparenttextures.com/patterns/type.png');
}

.footer {
  /* padding-top: 0.7rem!important; */
  /* padding-bottom: 0!important; */
}

.ui.grid>.row {
  padding: 0;
}

@media screen and (min-width: 990px) {
  .segmentcontent .forMobile {
    min-height: calc(100vh - 470px);
  }
}
