.prodAcute{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
/*.Acute{
	background-color: rgba(255, 255, 255, 1);
	padding: 10px 15px;
	margin-bottom: 10px;
	border: 1px solid lightgray;
	position: static;
	z-index: 1;
 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.tableAngle{
	padding:  0 15px;

}*/
.tableAngle img{
	width: 100px;
	height: 50px;
}
