$COLOR_1: #006973;
$COLOR_2: #00737E;
$COLOR_3: #DADBDA;
$COLOR_4: #E7A468;
$COLOR_5: #251716;
$COLOR_6: #BD5900;


$color-3: #7DCDD8;
$color-2: #C4C6C7;
$color-1: #A9C3C7;
// $color-4: transparentize(#E57152, .8);
