@import "../color.scss";

/*.basket{
	background-color: rgba(255, 255, 255, 0.95);
	padding: 30px 60px;
	border: 1px solid lightgray;
	font: 18px 'helveticaneuecyrlight';
	color: #401211;
	line-height: 1.5;
	text-align: center;
	height: 300px;
 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.basket p{
	text-indent: 15px;
	color: blue;
}*/

.basket_tab.ui.inverted.table{
    background-color: lighten($COLOR_2, 10%);
    // color: transparentize(lighten($COLOR_6, 10%), 0);
    color: black
}
.basket_tab.ui.inverted.table th{
    color: darken($COLOR_6, 10%)!important;
    background-color: $COLOR_4;
    border-color: darken($COLOR_6, 10%)!important;

}
.basket_tab.ui.table tfoot tr:first-child>th:only-child{
    background-color: transparentize(lighten($COLOR_4, 10%), 0.2);
    border-color: darken($COLOR_6, 10%)!important;
}
