.products{
	background-color: rgba(255, 255, 255, 1);
	padding: 10px 5px;
	margin-bottom: 10px;
	border: 1px solid lightgray;
	position: static;
	z-index: 1;
 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

p{
	text-indent: 15px;
	color: blue;
	line-height: 1.15;
}
.img{
	width: 250px;
}
img{
	max-width: 100%;
    display: block;
    margin: 0 auto;
}
.descr{
	width: 100%;
	padding: 30px;
	font: 15px monospace;
}

.products a{
	text-decoration: none;
	color: inherit;
}
.products a:hover{
	color: blue;
	text-decoration: underline;
}

.goto{
	text-align: right;
}
